.bridge{
  display:flex;  
  // gap:4rem;
}
.heading{
  margin:0 5rem;
  margin-left:5rem;
}
.description{
  font-size:1rem;
  position:relative;
  top:-4.5rem;
  left:4.4rem;
}
.label{
	margin-bottom:10px;
}
.select{
  margin-top:4rem;
}
.input-group {
  font-size:1.1rem;
  margin-bottom: 1em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}

.container {
  width:100%;
  height:80vh;
  padding: 2.5em 3.5em;
  margin: 2em 15em;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}

/* CSS */
.button5 {
  display: flex;
  align-items: center;
  background-color: #EB018A;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  min-height: 3rem;
  width:100%;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
}

.button5:hover,
.button5:focus {
  background-color: white;
  color: #EB018A;
  border-color: #EB018A;
}

.button5:hover {
  transform: translateY(-1px);
}

.button5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}